* {
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

body {
  color: white;
  background: rgb(22, 22, 22);
}

.user-connect {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-connect input, .user-connect button {
  padding: 0;
  font-size: 2rem;
  width: 100%;
  max-width: 1000px;
  border: 0;
  height: 5rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0;
}

.user-connect button {
  background: coral;
  color: #fff;
  cursor: pointer;
}

.message-box {
  border: 0;
  /* border-top: 1px solid black; */
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  height: 10vh;
  width: 100%;
}

.message-box textarea {
  height: calc(10vh - 60px);
  width: calc(100vw - 10vh - 60px);
  border: 0;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  font-size: 1rem;
  background: #2e2e2e;
  color: white;
  resize: none;
  max-height: calc(10vh - 40px);
  border-radius: 3px;
}

.message-box .button-container {
  display: flex;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  cursor: pointer;
}

.message-box .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  background: #2e2e2e;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  height: 85vh;
  overflow: scroll;
  margin-right: 20px;
}

.messages::-webkit-scrollbar {
  display: none;
}

.message-before {
  height: 20px;
}

.message {
  display: flex;
  font-size: 1rem;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
  margin-bottom: 20px;
}

.message-avatar {
  height: 40px;
  width: 40px;
  background: coral;
  margin: 0px 20px;
  border-radius: 100%;
}

.message-content-nickname {
  padding-bottom: 5px;
}